@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            @Body
        </div>
    </div>
</div>

<style>
    body {
        background: url('images/background/bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
</style>