#zero-products-message {
    margin-top: 0;
}

.data-grid-catalog {
    min-height: 75vh !important;
    display: flex;
    flex-direction: column;
}

.mud-table-pagination {
    margin-top: auto;
}


